<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.oooelePartner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".activity.LoginFirebaseActivity" />
        <activity
            android:name=".activity.WorkingTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WorkActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".activity.PaymentActivity" />
        <activity
            android:name=".WorkingArea.MapsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity.AddBank"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity.BankDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity.ServiceLocation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity.Award"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity.UploadWork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity.Training"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity.IdentityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Static_web"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            tools:node="remove" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_eaEv2ZxWswoDBU" />
        <!--
  <meta-data
              android:name="com.razorpay.ApiKey"
              android:value="rzp_test_oxRMhR0P0P25l5" />
        -->
        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- My Service -->
        <service
            android:name=".MyService"
            android:exported="false"
            android:stopWithTask="false" /> <!-- My Broadcast Receiver -->
        <receiver
            android:name=".MyBroadCastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.app.oooelePartner" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_EXTERNAL_APPLICATIONS_AVAILABLE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>